*{
    color : white;
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Lexend Deca', sans-serif;
}
.btn-primary{
    background-color: black !important;
    border: 1px solid white !important;
}
.card-title{
    color: black;
}
body{
    background: black !important;
}
.searchPlace{
    width: 25%;
    margin: auto;
    padding: 10px;
}
.searchBtn{
    background-color: white;
    color: black;
    display: block;
    margin-top: 5px;
    width: 100px;
    margin-left: 100px;
    border-radius: 5em;
    border: 3px solid black;
    cursor: pointer;
    transition: all 1s;
}
.searchBtn:hover{
    background: black;
    color: white;
    border: 3px solid white;

}
.animeResults{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 50px;
}

#searchBox{
    width: 299px;    
    background-color: white;
    border-radius: 5em;
    color: black;
}
.card{
    height: 40em !important;
}
.loading{
    width: 50%;    
    margin: auto;
    background-color: black;
    display: none;
}
.loadingBar{
    margin-top: 10%;
    width: 1%;
    height: 30px;
    border: 3px solid rgb(253, 253, 253);
    background-color: rgb(2, 0, 0);
    border-radius: 5em;

}
.showLoadin{
    display:none;
}
.pageNav{
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3em;
    transition:all 1s;
}
.pageNav:hover{
    background: black;
    border: 3px solid white;
}
.fa-solid:hover{
    color: white;
}
.pageControl{
    width: 6%;
    margin: auto;
    display: none;
}
.fa-solid{
    color: black;
    transform: all 1s;
}